
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



p {
  font-size: 1.6rem;
}

h1 {
  font-size: 6rem;
}

.forcast-main{
    background-color:rgba(15, 15, 127, 0.337)
}

.forcast-container{
  width: 100%;
  height: 70vh;
  color: black;
  background: linear-gradient(90deg, rgba(168,167,194,1) 0%, rgba(180,180,195,0.5692401960784313) 48%, rgba(255,255,255,1) 80%, rgba(151,166,170,0.2807247899159664) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
 .forcast-wrapper{
  width:70%;
  height: 80%;
 
 }

 .historicalDataBtn{ font-family: 'Outfit', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
.historicalDataBtn:hover{
background-color:rgba(15, 15, 127, 0.082);
color:white
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
   
}



.forcast-container input {
  padding: .7rem 1.5rem;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 25px;
  border: 1px solid rgba(255,255,255, 0.8);
  background: rgba(255,255,255, 0.1);
  color: black;
  width:40rem;
}

.bottom img{
    width: 7rem;
    height: 5rem;
    object-fit: cover;
}



::placeholder {
  /* color: #f8f8f8; */
  color: black;
}

.container {
  max-width: 700px;
 
  margin: auto;
  padding: 0 1rem;
  position: relative;
  top: 10%;
  display: flex;
  flex-direction: column;
  gap:2rem;
  justify-content: space-between;
}

.forcast-container .top {
  width: 100%;
  margin: 1rem auto;
}

.humidity, .wind{
    margin-top: 7px;
    display: flex;
    font-size:2.5rem;
    gap: 0.5rem;
}


/* .forcat-container .description {
  position: relative;
  right: -90%;
  transform-origin: 0 0;
  transform: rotate(269deg);
} */

.forcast-container .bottom {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 12px;
  background-color: rgba(255,255,255, 0.2);
}

.bold {
  font-weight: 700;
}
/* .search  {
   display:flex;
   justify-content: center;
   align-items:center;
} */

.location p{
  font-size:3rem;
}
