@import url('https://fonts.googleapis.com/css2?family=Monomaniac One:wght@700&display=swap');

.historicalData-wrapper{
    width: 100%;
    height: 100vh;
    background-color:rgba(15, 15, 127, 0.082);
    /* font-family:  */
}

.historicalData-container{
    display:flex;
    flex-direction:column;
    gap:3rem;
    margin-top: 3rem;
    align-items: center;
}


.historicalData-cont{
    font-size: 1.5rem;
    width:100%;
    height:20vh;
    display: flex;
    justify-content: center;
    gap:3rem;
    margin-left:-3.5rem;  

}
.historicalData-cont h2{
    margin-top:1.5rem;
}


.historicalData-cont input{
    
    width: 9rem;
    border: none;
    outline: none;
    border-bottom: 1px solid #ccc;

}
.start, .end{
    display: flex;
    flex-direction: column;
    gap:0.5rem;
    border: 1px solid rgb(107, 106, 106);
    border-radius:10px;
    width: 20rem;
    height: 6rem;   
    padding-left: 2rem;
   
 
}





@media only screen and (max-width: 768px) {
    .historicalData-cont{
        width:100%;
        height:60vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:3rem;
        /* margin-top: 2rem; */
        margin-left: 1.3rem; 
        
    }
  }